@model IEnumerable<KooliProjekt.Data.Portfolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeSinceLastMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeSinceStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeSinceLastMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeSinceStart)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PortfolioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PortfolioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PortfolioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
